* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  font-family: $sans;
  font-size: $size;
  letter-spacing: rem(1);
  line-height: 1.4;
}

h1, h2, h3, h4 {
  line-height: 1.1;

  // media
  @include media($mobile) {
    line-height: 1.5;
  }

}

p {
  margin-top: $space-16;
}

button {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  appearance: none;
}

a, button {
  transition: $normal;
}

a, button:not([class]) {
  color: $red-d;
  text-decoration: underline;

  &:focus,
  &:hover {
    text-decoration: none;
  }

}

ol, ul {
  list-style-type: none;
}
