.section {

  &.black,
  &.white {

    .heading-primary {
      color: $red-d;
    }

  }

  &.black {
    background: $black;
    color: $white;
  }

  &.red {
    background: $red-d;
    color: $white;
  }

}

[data-section="default"] {
  padding: 16vh 0;

  .wrapper {
    margin: 0 auto;
    padding: 0 8vw;
    max-width: rem(1024);
  }

}
